body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
}
a{
    color: darkslategray;
    text-decoration:  none;
    text-shadow: black 1px 1px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #491439;
    font-size: 50px;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #491439;
    font-size: 35px;
}
span{
    font-style: italic;
}
.menu{
    list-style: none;   
    width: 100%;
    margin: auto;
    background-color: #49263e;
    margin: 0px;
    line-height: 85%;
    position: fixed;
    left: 0;
}
.menu li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    display: block;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #803e33;
}
#home{
    padding-top: 100px;
}
#inicio{
    margin: 30px;   
}
#violencia{
    padding: 30px;
    color: white;
    text-align: justify;
    background-color: #5DADE2 ;
    padding-right: 10px;
}

#violencia .Column2{
    display: inline-flex;
}
#violencia .Column2 .texto{
    margin: 40px;
}
#violencia .Column2 img{
    height: 100%;
    width: 100%;
    max-width: 355px;
    max-height: 706px;
}
#Celos{
    margin:  30px;
}
#celos li{
    list-style: none;
}
#celos li ul li{
    list-style: inherit;
    list-style: disc;
}
#celos #celos1{
    color: #B7950B;
}
#celos #celos2{
    color: #AF601A;
}
#celos #celos3{
    color: #922B21;
}
#celos h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}